@import url('https://fonts.googleapis.com/css?family=Humanst521+BT:700|Calibri:400,700');


.iphone6782 {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 667px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.iphone6782 .rectangle150 {
  background-color    : rgba(18, 21, 39, 1.0);
  top                 : -11px;
  height              : 693px;
  box-sizing          : border-box;
  width               : 400px;
  position            : absolute;
  margin              : 0;
  left                : -9px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(255, 246, 246, 0.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.iphone6782 .rectangle161 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -18px;
  height              : 708px;
  width               : 248px;
  position            : absolute;
  margin              : 0;
  left                : -14px;
}
.iphone6782 .homeblogcontact2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 109px;
  height              : 93px;
  width               : 66px;
  position            : absolute;
  margin              : 0;
  left                : 25px;
}
.iphone6782 .line13 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : 12px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 176px;
}
.iphone6782 .line34 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : 12px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 176px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}