@import url('https://fonts.googleapis.com/css?family=Humanst521+BT:700|Calibri:400,700');


.iphone6783 {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 6156px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.iphone6783 .rectangle260 {
  background-color    : rgba(28, 23, 33, 1.0);
  top                 : 227px;
  height              : 105px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.iphone6783 .rectangle251 {
  background-color    : rgba(30, 26, 29, 1.0);
  top                 : 1016px;
  height              : 70px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.iphone6783 .rectangle252 {
  background-color    : rgba(30, 26, 29, 1.0);
  top                 : 1259px;
  height              : 1200px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.iphone6783 .maskgroup13 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 227px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.iphone6783 .maskgroup13 .a10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 227px;
  width               : 382px;
  position            : absolute;
  margin              : 0;
  left                : -7px;
}
.iphone6783 .maskgroup13 .rectangle2511 {
  background-color    : rgba(252, 249, 249, 1.0);
  top                 : 0px;
  height              : 227px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.iphone6783 .maskgroup24 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 330px;
  height              : 197px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.iphone6783 .maskgroup24 .a20 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -48px;
  height              : 245px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.iphone6783 .maskgroup24 .rectangle2512 {
  background-color    : rgba(252, 249, 249, 1.0);
  top                 : 0px;
  height              : 197px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.iphone6783 .introductionmorfathlrticisakuwaitbasedcompanyourmissionistohelpavidathletsbuildtheirdreamsthroughsportsouraimistocreatthefinestrunningappareltokeepourcustomercomfortableandmotivatedtopursetheirgoalswhetherthati5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 262px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 32px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Calibri", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(255, 254, 254, 1.0);
  text-align          : left;
  line-height         : 7.0px;
}
.iphone6783 .introductionmorfathlrticisakuwaitbasedcompanyourmissionistohelpavidathletsbuildtheirdreamsthroughsportsouraimistocreatthefinestrunningappareltokeepourcustomercomfortableandmotivatedtopursetheirgoalswhetherthati5 .span0 {
  font-family         : "Calibri", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 10.0px;
  color               : rgba(255, 254, 254, 1.0);
}
.iphone6783 .introductionmorfathlrticisakuwaitbasedcompanyourmissionistohelpavidathletsbuildtheirdreamsthroughsportsouraimistocreatthefinestrunningappareltokeepourcustomercomfortableandmotivatedtopursetheirgoalswhetherthati5 .span1 {
  font-family         : "Calibri", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 7.0px;
  color               : rgba(255, 254, 254, 1.0);
}
.iphone6783 .maskgroup36 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 526px;
  height              : 246px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.iphone6783 .maskgroup36 .a30 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 245px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.iphone6783 .maskgroup36 .rectangle2513 {
  background-color    : rgba(252, 249, 249, 1.0);
  top                 : 0px;
  height              : 246px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.iphone6783 .maskgroup47 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 771px;
  height              : 245px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.iphone6783 .maskgroup47 .a40 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 245px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.iphone6783 .maskgroup47 .rectangle2514 {
  background-color    : rgba(252, 249, 249, 1.0);
  top                 : 0px;
  height              : 245px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.iphone6783 .typography8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1042px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Calibri", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 10.0px;
  color               : rgba(255, 254, 254, 1.0);
  text-align          : left;
  line-height         : 10.0px;
}
.iphone6783 .maskgroup59 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1086px;
  height              : 174px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.iphone6783 .maskgroup59 .a50 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -1px;
  height              : 175px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.iphone6783 .maskgroup59 .rectangle2518 {
  background-color    : rgba(252, 249, 249, 1.0);
  top                 : 0px;
  height              : 174px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.iphone6783 .a710 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1256px;
  height              : 222px;
  width               : 355px;
  position            : absolute;
  margin              : 0;
  left                : 10px;
}
.iphone6783 .a811 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1488px;
  height              : 222px;
  width               : 355px;
  position            : absolute;
  margin              : 0;
  left                : 10px;
}
.iphone6783 .a912 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1731px;
  height              : 222px;
  width               : 355px;
  position            : absolute;
  margin              : 0;
  left                : 10px;
}
.iphone6783 .a1313 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1964px;
  height              : 222px;
  width               : 355px;
  position            : absolute;
  margin              : 0;
  left                : 10px;
}
.iphone6783 .a1414 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2199px;
  height              : 221px;
  width               : 355px;
  position            : absolute;
  margin              : 0;
  left                : 10px;
}
.iphone6783 .rectangle2515 {
  background-color    : rgba(252, 249, 249, 1.0);
  top                 : 3667px;
  height              : 234px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.iphone6783 .rectangle2516 {
  background-color    : rgba(30, 26, 29, 1.0);
  top                 : 3901px;
  height              : 2256px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.iphone6783 .rectangle2517 {
  background-color    : rgba(30, 26, 29, 1.0);
  top                 : 2768px;
  height              : 899px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.iphone6783 .maskgroup618 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2459px;
  height              : 309px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.iphone6783 .maskgroup618 .a150 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 309px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.iphone6783 .maskgroup618 .rectangle2519 {
  background-color    : rgba(252, 249, 249, 1.0);
  top                 : 0px;
  height              : 309px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.iphone6783 .mobile19 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2824px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 21px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Calibri", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 10.0px;
  color               : rgba(255, 254, 254, 1.0);
  text-align          : left;
  line-height         : 10.0px;
}
.iphone6783 .a1720 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2835px;
  height              : 224px;
  width               : 271px;
  position            : absolute;
  margin              : 0;
  left                : 60px;
}
.iphone6783 .a2121 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3059px;
  height              : 293px;
  width               : 356px;
  position            : absolute;
  margin              : 0;
  left                : 10px;
}
.iphone6783 .a1922 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3448px;
  height              : 191px;
  width               : 305px;
  position            : absolute;
  margin              : 0;
  left                : 29px;
}
.iphone6783 .desktop23 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3378px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 10px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Calibri", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 10.0px;
  color               : rgba(255, 254, 254, 1.0);
  text-align          : left;
  line-height         : 10.0px;
}
.iphone6783 .a2224 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3667px;
  height              : 234px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.iphone6783 .a2325 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3912px;
  height              : 196px;
  width               : 313px;
  position            : absolute;
  margin              : 0;
  left                : 31px;
}
.iphone6783 .a2426 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4139px;
  height              : 193px;
  width               : 308px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
}
.iphone6783 .product27 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4406px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Calibri", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 10.0px;
  color               : rgba(255, 254, 254, 1.0);
  text-align          : left;
  line-height         : 10.0px;
}
.iphone6783 .a2928 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4444px;
  height              : 194px;
  width               : 310px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
}
.iphone6783 .a3229 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4663px;
  height              : 242px;
  width               : 320px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
}
.iphone6783 .a3430 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4930px;
  height              : 194px;
  width               : 310px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
}
.iphone6783 .a3731 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5183px;
  height              : 194px;
  width               : 310px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
}
.iphone6783 .a3832 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5433px;
  height              : 375px;
  width               : 310px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
}
.iphone6783 .a4033 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5842px;
  height              : 202px;
  width               : 310px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
}
.iphone6783 .creditsuigreatnayancomcomingsoonanalyticsartdirectionuxuidesignmotiondevelopmentthanks34 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6082px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Calibri", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(255, 254, 254, 1.0);
  text-align          : left;
  line-height         : 10.0px;
}
.iphone6783 .creditsuigreatnayancomcomingsoonanalyticsartdirectionuxuidesignmotiondevelopmentthanks34 .span0 {
  font-family         : "Calibri", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 10.0px;
  color               : rgba(255, 254, 254, 1.0);
}
.iphone6783 .creditsuigreatnayancomcomingsoonanalyticsartdirectionuxuidesignmotiondevelopmentthanks34 .span1 {
  font-family         : "Calibri", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 10.0px;
  color               : rgba(114, 110, 110, 1.0);
}
.iphone6783 .creditsuigreatnayancomcomingsoonanalyticsartdirectionuxuidesignmotiondevelopmentthanks34 .span2 {
  font-family         : "Calibri", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 10.0px;
  color               : rgba(255, 254, 254, 1.0);
}
.iphone6783 .creditsuigreatnayancomcomingsoonanalyticsartdirectionuxuidesignmotiondevelopmentthanks34 .span3 {
  font-family         : "Calibri", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 12.0px;
  color               : rgba(255, 254, 254, 1.0);
}
.iphone6783 .creditsuigreatnayancomcomingsoonanalyticsartdirectionuxuidesignmotiondevelopmentthanks34 .span4 {
  font-family         : "Calibri", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 10.0px;
  color               : rgba(255, 254, 254, 1.0);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}