@import url('https://fonts.googleapis.com/css?family=Humanst521+BT:700|Calibri:400,700');


.bp1-web12801 {
  width               : 100%;
  min-width           : 1580px;
  height              : 100vh;
  min-height          : 2672px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(245, 245, 245, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.bp1-web12801 .bp1-rectangle10 {
  background-color    : rgba(18, 21, 39, 0.93);
  top                 : -3px;
  height              : 801px;
  width               : 1625px;
  position            : absolute;
  margin              : 0;
  left                : -18px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp1-web12801 .bp1-nlogo1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 18px;
  height              : 33px;
  width               : 227px;
  position            : absolute;
  margin              : 0;
  left                : 85px;
}
.bp1-web12801 .bp1-nlogoshawdo2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 250px;
  height              : 404px;
  width               : 706px;
  position            : absolute;
  margin              : 0;
  left                : 437px;
}
.bp1-web12801 .bp1-prettysimpleandcreative3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 396px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 86px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Humanst521 BT", Helvetica, Arial, serif;
  font-size           : 112.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 112.0px;
}
.bp1-web12801 .bp1-prettysimpleandcreative3 .bp1-span0 {
  font-family         : "Humanst521 BT", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 112.0px;
  color               : rgba(48, 189, 212, 1.0);
}
.bp1-web12801 .bp1-prettysimpleandcreative3 .bp1-span1 {
  font-family         : "Humanst521 BT", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 112.0px;
  color               : rgba(255, 255, 255, 1.0);
}
.bp1-web12801 .bp1-hiwelcometouigreatnayanafullservicedesignteamwhichcanprovideaonestopsolutionforyoufromplanningdesigntodevelopment4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 525px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 272px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Calibri", Helvetica, Arial, serif;
  font-size           : 27.0px;
  color               : rgba(229, 228, 228, 1.0);
  text-align          : center;
  line-height         : 27.0px;
}
.bp1-web12801 .bp1-hiwelcometouigreatnayanafullservicedesignteamwhichcanprovideaonestopsolutionforyoufromplanningdesigntodevelopment4 .bp1-span0 {
  font-family         : "Calibri", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 27.0px;
  color               : rgba(229, 228, 228, 1.0);
}
.bp1-web12801 .bp1-hiwelcometouigreatnayanafullservicedesignteamwhichcanprovideaonestopsolutionforyoufromplanningdesigntodevelopment4 .bp1-span1 {
  font-family         : "Calibri", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 27.0px;
  color               : rgba(255, 245, 245, 1.0);
}
.bp1-web12801 .bp1-hiwelcometouigreatnayanafullservicedesignteamwhichcanprovideaonestopsolutionforyoufromplanningdesigntodevelopment4 .bp1-span2 {
  font-family         : "Calibri", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 27.0px;
  color               : rgba(229, 228, 228, 1.0);
}
.bp1-web12801 .bp1-rectangle25 {
  background-color    : rgba(58, 62, 83, 1.0);
  top                 : 26px;
  height              : 19px;
  width               : 75px;
  position            : absolute;
  margin              : 0;
  left                : 1420px;
  border-radius       : 10px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp1-web12801 .bp1-contact6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : 26px;
  width               : 71px;
  position            : absolute;
  margin              : 0;
  left                : 1422px;
}
.bp1-web12801 .bp1-home7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : 26px;
  width               : 49px;
  position            : absolute;
  margin              : 0;
  left                : 1276px;
}
.bp1-web12801 .bp1-blog8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : 26px;
  width               : 45px;
  position            : absolute;
  margin              : 0;
  left                : 1348px;
}
.bp1-web12801 .bp1-nlogoshawdo9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 863px;
  height              : 55px;
  width               : 96px;
  position            : absolute;
  margin              : 0;
  left                : 740px;
}
.bp1-web12801 .bp1-nlogoshawdo10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1503px;
  height              : 55px;
  width               : 96px;
  position            : absolute;
  margin              : 0;
  left                : 744px;
}
.bp1-web12801 .bp1-whatwedo11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 899px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 672px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Calibri", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : italic;
  font-size           : 45.0px;
  color               : rgba(70, 67, 67, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.bp1-web12801 .bp1-ourlatestwork12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1539px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 640px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Calibri", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : italic;
  font-size           : 45.0px;
  color               : rgba(70, 67, 67, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.bp1-web12801 .bp1-tracingthefutureofdesignthroughthehistoryofart13 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 956px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 449px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Calibri", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 30.0px;
  color               : rgba(99, 96, 96, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.bp1-web12801 .bp1-donotaskwhatcanwedoaskwhatcantdo14 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1596px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 474px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Calibri", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 30.0px;
  color               : rgba(99, 96, 96, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.bp1-web12801 .bp1-repeatgrid115 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 984px;
  height              : 444px;
  width               : 1286px;
  position            : absolute;
  margin              : 0;
  left                : 135px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp1-web12801 .bp1-repeatgrid115 .bp1-a0 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 29px;
  height              : 385px;
  width               : 282px;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp1-web12801 .bp1-repeatgrid115 .bp1-a0 .bp1-rectangle180 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -29px;
  height              : 444px;
  width               : 342px;
  position            : absolute;
  margin              : 0;
  left                : -30px;
  border-radius       : 10px;
  transform           : rotate(0deg);
}
.bp1-web12801 .bp1-repeatgrid115 .bp1-a0 .bp1-path91 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 10px;
  width               : 282px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
}
.bp1-web12801 .bp1-repeatgrid115 .bp1-a1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 29px;
  height              : 385px;
  width               : 282px;
  position            : absolute;
  margin              : 0;
  left                : 348px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp1-web12801 .bp1-repeatgrid115 .bp1-a1 .bp1-rectangle1801 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -29px;
  height              : 444px;
  width               : 342px;
  position            : absolute;
  margin              : 0;
  left                : -30px;
  border-radius       : 10px;
  transform           : rotate(0deg);
}
.bp1-web12801 .bp1-repeatgrid115 .bp1-a1 .bp1-path911 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 10px;
  width               : 282px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
}
.bp1-web12801 .bp1-repeatgrid115 .bp1-a2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 29px;
  height              : 385px;
  width               : 282px;
  position            : absolute;
  margin              : 0;
  left                : 666px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp1-web12801 .bp1-repeatgrid115 .bp1-a2 .bp1-rectangle1802 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -29px;
  height              : 444px;
  width               : 342px;
  position            : absolute;
  margin              : 0;
  left                : -30px;
  border-radius       : 10px;
  transform           : rotate(0deg);
}
.bp1-web12801 .bp1-repeatgrid115 .bp1-a2 .bp1-path912 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 10px;
  width               : 282px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
}
.bp1-web12801 .bp1-repeatgrid115 .bp1-a3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 29px;
  height              : 385px;
  width               : 282px;
  position            : absolute;
  margin              : 0;
  left                : 984px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp1-web12801 .bp1-repeatgrid115 .bp1-a3 .bp1-rectangle1803 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -29px;
  height              : 444px;
  width               : 342px;
  position            : absolute;
  margin              : 0;
  left                : -30px;
  border-radius       : 10px;
  transform           : rotate(0deg);
}
.bp1-web12801 .bp1-repeatgrid115 .bp1-a3 .bp1-path913 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 10px;
  width               : 282px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
}
.bp1-web12801 .bp1-icon116 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1061px;
  height              : 88px;
  width               : 88px;
  position            : absolute;
  margin              : 0;
  left                : 260px;
}
.bp1-web12801 .bp1-uiux17 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1173px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 272px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Calibri", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : italic;
  font-size           : 25.0px;
  color               : rgba(70, 67, 67, 1.0);
  text-align          : center;
  line-height         : 25.0px;
}
.bp1-web12801 .bp1-landingpagesuserflowwireframingmobileappdesignwebapp18 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1215px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 225px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Calibri", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(125, 120, 120, 1.0);
  text-align          : center;
  line-height         : 30.0px;
}
.bp1-web12801 .bp1-micon219 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1063px;
  height              : 89px;
  width               : 73px;
  position            : absolute;
  margin              : 0;
  left                : 574px;
}
.bp1-web12801 .bp1-brand20 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1175px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 592px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Calibri", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : italic;
  font-size           : 25.0px;
  color               : rgba(70, 67, 67, 1.0);
  text-align          : center;
  line-height         : 25.0px;
}
.bp1-web12801 .bp1-naminglogodesignbrandidentitysystemmarketinggraphicsphotoshop21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1217px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 533px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Calibri", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(125, 120, 120, 1.0);
  text-align          : center;
  line-height         : 30.0px;
}
.bp1-web12801 .bp1-icon422 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1063px;
  height              : 83px;
  width               : 93px;
  position            : absolute;
  margin              : 0;
  left                : 895px;
}
.bp1-web12801 .bp1-webdesign23 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1175px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 866px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Calibri", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : italic;
  font-size           : 25.0px;
  color               : rgba(70, 67, 67, 1.0);
  text-align          : center;
  line-height         : 25.0px;
}
.bp1-web12801 .bp1-uiuxdesignprototypingfrontendbackendtechnicalwriting24 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1217px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 871px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Calibri", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(125, 120, 120, 1.0);
  text-align          : center;
  line-height         : 30.0px;
}
.bp1-web12801 .bp1-micon325 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1061px;
  height              : 95px;
  width               : 88px;
  position            : absolute;
  margin              : 0;
  left                : 1215px;
}
.bp1-web12801 .bp1-development26 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1176px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1190px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Calibri", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : italic;
  font-size           : 25.0px;
  color               : rgba(70, 67, 67, 1.0);
  text-align          : center;
  line-height         : 25.0px;
}
.bp1-web12801 .bp1-htmlcssjavascriptanimationwordpressresponsivewebsite27 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1218px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1172px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Calibri", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(125, 120, 120, 1.0);
  text-align          : center;
  line-height         : 30.0px;
}
.bp1-web12801 .bp1-a1328 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1661px;
  height              : 771px;
  width               : 1234px;
  position            : absolute;
  margin              : 0;
  left                : 168px;
}
.bp1-web12801 .bp1-rectangle2329 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 1660px;
  height              : 868px;
  width               : 1234px;
  position            : absolute;
  margin              : 0;
  left                : 168px;
  border-radius       : 10px;
  transform           : rotate(0deg);
  opacity             : 0.0;
}
.bp1-web12801 .bp1-rectangle2430 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2432px;
  height              : 96px;
  width               : 1234px;
  position            : absolute;
  margin              : 0;
  left                : 168px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}
.bp2-iphone6781 {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 1825px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(245, 245, 245, 1.0);
}
div {
  -webkit-text-size-adjust: none;
}
.bp2-iphone6781 .bp2-group10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -11px;
  height              : 678px;
  width               : 398px;
  position            : absolute;
  margin              : 0;
  left                : -10px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp2-iphone6781 .bp2-group10 .bp2-rectangle60 {
  background-color    : rgba(18, 21, 39, 0.94);
  top                 : 0px;
  height              : 678px;
  width               : 398px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp2-iphone6781 .bp2-nlogo11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 9px;
  height              : 29px;
  width               : 200px;
  position            : absolute;
  margin              : 0;
  left                : 36px;
}
.bp2-iphone6781 .bp2-group22 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : 7px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 311px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp2-iphone6781 .bp2-group22 .bp2-line10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -1px;
  height              : 2px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  transform           : rotate(0deg);
}
.bp2-iphone6781 .bp2-group22 .bp2-line21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : 2px;
  width               : 23px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  transform           : rotate(0deg);
}
.bp2-iphone6781 .bp2-bgc3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 190px;
  height              : 402px;
  width               : 488px;
  position            : absolute;
  margin              : 0;
  left                : -113px;
}
.bp2-iphone6781 .bp2-prettysimpleandcreative4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 331px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 38px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Humanst521 BT", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.bp2-iphone6781 .bp2-prettysimpleandcreative4 .bp2-span0 {
  font-family         : "Humanst521 BT", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(48, 189, 212, 1.0);
}
.bp2-iphone6781 .bp2-prettysimpleandcreative4 .bp2-span1 {
  font-family         : "Humanst521 BT", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
}
.bp2-iphone6781 .bp2-hiwelcometouigreatnayanafullservicedesignteamwhichcanprovideaonestopsolutionforyoufromplanningdesigntodevelopment5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 367px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 38px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Calibri", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(229, 228, 228, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.bp2-iphone6781 .bp2-hiwelcometouigreatnayanafullservicedesignteamwhichcanprovideaonestopsolutionforyoufromplanningdesigntodevelopment5 .bp2-span0 {
  font-family         : "Calibri", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 15.0px;
  color               : rgba(229, 228, 228, 1.0);
}
.bp2-iphone6781 .bp2-hiwelcometouigreatnayanafullservicedesignteamwhichcanprovideaonestopsolutionforyoufromplanningdesigntodevelopment5 .bp2-span1 {
  font-family         : "Calibri", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 15.0px;
  color               : rgba(255, 245, 245, 1.0);
}
.bp2-iphone6781 .bp2-hiwelcometouigreatnayanafullservicedesignteamwhichcanprovideaonestopsolutionforyoufromplanningdesigntodevelopment5 .bp2-span2 {
  font-family         : "Calibri", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 15.0px;
  color               : rgba(229, 228, 228, 1.0);
}
.bp2-iphone6781 .bp2-nlogoshawdo6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 712px;
  height              : 55px;
  width               : 96px;
  position            : absolute;
  margin              : 0;
  left                : 140px;
}
.bp2-iphone6781 .bp2-nlogoshawdo7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1416px;
  height              : 55px;
  width               : 96px;
  position            : absolute;
  margin              : 0;
  left                : 140px;
}
.bp2-iphone6781 .bp2-whatwedo8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 744px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 99px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Calibri", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : italic;
  font-size           : 30.0px;
  color               : rgba(70, 67, 67, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.bp2-iphone6781 .bp2-ourlatestwork9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1448px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 76px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Calibri", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : italic;
  font-size           : 30.0px;
  color               : rgba(70, 67, 67, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.bp2-iphone6781 .bp2-tracingthefutureofdesignthroughthehistoryofart10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 779px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 41px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Calibri", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 13.0px;
  color               : rgba(99, 96, 96, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.bp2-iphone6781 .bp2-donotaskwhatcanwedoaskwhatcantdo11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1483px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 62px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Calibri", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 13.0px;
  color               : rgba(99, 96, 96, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.bp2-iphone6781 .bp2-rectangle2212 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 796px;
  height              : 320px;
  width               : 230px;
  position            : absolute;
  margin              : 0;
  left                : -22px;
  border-radius       : 10px;
}
.bp2-iphone6781 .bp2-path1313 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 825px;
  height              : 10px;
  width               : 170px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
}
.bp2-iphone6781 .bp2-rectangle2214 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 796px;
  height              : 320px;
  width               : 230px;
  position            : absolute;
  margin              : 0;
  left                : 167px;
  border-radius       : 10px;
}
.bp2-iphone6781 .bp2-path1315 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 825px;
  height              : 10px;
  width               : 170px;
  position            : absolute;
  margin              : 0;
  left                : 197px;
}
.bp2-iphone6781 .bp2-rectangle2216 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1076px;
  height              : 320px;
  width               : 230px;
  position            : absolute;
  margin              : 0;
  left                : -22px;
  border-radius       : 10px;
}
.bp2-iphone6781 .bp2-path1317 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1105px;
  height              : 10px;
  width               : 170px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
}
.bp2-iphone6781 .bp2-rectangle2218 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1076px;
  height              : 320px;
  width               : 230px;
  position            : absolute;
  margin              : 0;
  left                : 167px;
  border-radius       : 10px;
}
.bp2-iphone6781 .bp2-path1319 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1105px;
  height              : 10px;
  width               : 170px;
  position            : absolute;
  margin              : 0;
  left                : 197px;
}
.bp2-iphone6781 .bp2-icon120 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 850px;
  height              : 68px;
  width               : 68px;
  position            : absolute;
  margin              : 0;
  left                : 59px;
}
.bp2-iphone6781 .bp2-uiux21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 932px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 73px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Calibri", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : italic;
  font-size           : 16.0px;
  color               : rgba(70, 67, 67, 1.0);
  text-align          : center;
  line-height         : 16.0px;
}
.bp2-iphone6781 .bp2-landingpagesuserflowwireframingmobileappdesignwebapp22 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 970px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 46px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Calibri", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 12.0px;
  color               : rgba(125, 120, 120, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.bp2-iphone6781 .bp2-micon223 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 850px;
  height              : 69px;
  width               : 58px;
  position            : absolute;
  margin              : 0;
  left                : 253px;
}
.bp2-iphone6781 .bp2-brand24 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 932px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 262px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Calibri", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : italic;
  font-size           : 16.0px;
  color               : rgba(70, 67, 67, 1.0);
  text-align          : center;
  line-height         : 16.0px;
}
.bp2-iphone6781 .bp2-naminglogodesignbrandidentitysystemmarketinggraphicsphotoshop25 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 970px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 228px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Calibri", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 12.0px;
  color               : rgba(125, 120, 120, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.bp2-iphone6781 .bp2-micon326 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1149px;
  height              : 71px;
  width               : 66px;
  position            : absolute;
  margin              : 0;
  left                : 60px;
}
.bp2-iphone6781 .bp2-development27 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1222px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 49px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Calibri", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : italic;
  font-size           : 16.0px;
  color               : rgba(70, 67, 67, 1.0);
  text-align          : center;
  line-height         : 16.0px;
}
.bp2-iphone6781 .bp2-htmlcssjavascriptanimationwordpressresponsivewebsite28 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1260px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 41px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Calibri", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 12.0px;
  color               : rgba(125, 120, 120, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.bp2-iphone6781 .bp2-icon429 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1149px;
  height              : 65px;
  width               : 72px;
  position            : absolute;
  margin              : 0;
  left                : 246px;
}
.bp2-iphone6781 .bp2-webdesign30 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1222px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 243px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Calibri", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : italic;
  font-size           : 16.0px;
  color               : rgba(70, 67, 67, 1.0);
  text-align          : center;
  line-height         : 16.0px;
}
.bp2-iphone6781 .bp2-uiuxdesignprototypingfrontendbackendtechnicalwriting31 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1262px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 240px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Calibri", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 12.0px;
  color               : rgba(125, 120, 120, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.bp2-iphone6781 .bp2-a1332 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1530px;
  height              : 223px;
  width               : 357px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
}
.bp2-iphone6781 .bp2-rectangle2833 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1754px;
  height              : 28px;
  width               : 359px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}
@media screen and (max-width: 1579px) {
  .bp2-iphone6781 {
    display             : block;
  }
  .bp1-web12801 {
    display             : none;
  }
}
@media screen and (min-width: 1580px) {
  .bp2-iphone6781 {
    display             : none;
  }
  .bp1-web12801 {
    display             : block;
  }
}